# dependencies
**/node_modules
**/static

# WASM libs
apps/planets/public/unity

tmp

# logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

**/.idea

# macOS-specific files
**/.DS_Store
tools/eslint-rules
tools/executors
tools/generators
tools/scripts
tools/jest.config.js
tools/tsconfig.spec.json
tools/tsconfig.tools.json
dist
